node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.next
.nuxt
dist
.cache
.parcel-cache
.DS_Store
*.log
.git
.gitignore
README.md
.env*
coverage
.nyc_output
.github
Dockerfile*
docker-compose*